/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) {
    #home { 
       padding-top: 40px;
    }
    #nav-collapse #nav {
        margin-left: 5px;
        margin-top: 0px;
        font-size: 12px;
    }
    
    #navbar #brand {
        font-weight: 600;
        color: #A2A0A0;
        position: absolute;
    }
    
    #navbar-inner {
        min-height: 50px;
    }
     
    #img-logo {
       display: none;
    }
     
    .navbar-fixed-top, .navbar-fixed-bottom {
       position: fixed;
    }
    
    .navbar .btn-navbar {
        display: block;
        margin-right: 25px;
    }
}
/************************************************************************************
biggest than 980
*************************************************************************************/
@media screen and (min-width: 800px) {
    #text-logo {
        display: none;
    }
     
}

@media screen and (max-width: 480px) {
    .carousel-control {
        visibility:hidden;
    }
}

@media screen and (min-width: 480px) {
    .img-foto:hover {
        -webkit-transform: scale(1.04);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
        -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        -moz-transform: scale(1.04);
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
}