/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
    #home { 
       padding-top: 40px;
    }
    #nav-collapse #nav {
        margin-left: 5px;
        margin-top: 0px;
        font-size: 12px;
    }
    
    #navbar #brand {
        font-weight: 600;
        color: #A2A0A0;
        position: absolute;
    }
    
    #navbar-inner {
        min-height: 50px;
    }
     
    #img-logo {
       display: none;
    }
     
    .navbar-fixed-top, .navbar-fixed-bottom {
       position: fixed;
    }
    
    .btn, .btn-navbar {
        margin-right:50px;
    }
}
/************************************************************************************
biggest than 980
*************************************************************************************/
@media screen and (min-width: 980px) {
    
    #text-logo {
        display: none;
    }
     
}