html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
    padding-top: 80px;
    padding-bottom: 40px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    background: #F0F0F0 url(../img/bg.jpg);
}

.navbar .brand {
    padding: 10px 25px 10px;
}
.brand-img {
    position: fixed;
    z-index: 2;
    display: block;
    margin-top: -15px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
  -ms-interpolation-mode: bicubic;
}

#nosso_trabalho {
    padding-top: 6rem;
}

.page-title {
    position: relative;
    margin-top: 30px;
    background: url(../img/title_sep.png) repeat-x bottom;
    padding-bottom: 20px;
    margin-bottom: -50px;
}

