html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
    padding-top: 80px;
    padding-bottom: 40px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    background: #F0F0F0 url(../img/bg.jpg);
}

.navbar .brand {
    padding: 10px 25px 10px;
}
.brand-img {
    position: absolute;
    z-index: 2;
    display: block;
    margin-top: -15px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
  -ms-interpolation-mode: bicubic;
}

#nosso_trabalho, #fotos, #fale_conosco {
    padding-top: 6rem;
}

.page-title {
    position: relative;
    margin-top: 30px;
    background: url(../img/title_sep.png) repeat-x bottom;
    padding-bottom: 20px;
    margin-bottom: -50px;
}

h1 {
    text-align: center;
    padding-bottom: 9px;
    margin: 20px 0 30px;
}

.text-footer {
   text-align: center;
   font-size: 12px;
}

.seta-esq {
    margin-top: -2px;
    margin-left: -3px;
}

.seta-dir {
   margin-top: -2px;
   margin-left: 3px; 
}